
:root {
  --bg-light: #f9f9f9;
  --bg-dark: #1e1e1e;
  --text-light: #1e1e1e;
  --text-dark: #f9f9f9;
  --primary: #6e57e0;
  --accent: #d6b13c;
  --card-bg-light: #fff;
  --card-bg-dark: #2e2e2e;
}


body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
    scroll-behavior: smooth;
}

body.dark{
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-weight: 700;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#toggle-them{
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color:white;
}

.hero{
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(145deg, var(--primary),var(--accent));
    color: white;
}

/* .avatar {
width: 100px;
image-redering:pixelated */

section{
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: auto;
}

h2{
    margin-bottom: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(280px,1fr));
    gap: 15px
}


.card {
    background: var(--card-bg-light);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background 0.3s;
    cursor:pointer;
}
body.dark .card{
    background: var(--card-bg-dark);
}

.timeline .entry {
    margin-bottom: 1rem;
    
}